* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  display: block;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --color-one: #424551;
}

.button-orange {
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 10px 20px;
}

.button {
  font-weight: 700;
  color: var(--color-);
  background-color: #ffffff;
}

.title-footer {
  white-space: nowrap;
  font-weight: 700;
  color: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #9a9ca5;
}

main {
  padding-top: 85px;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1000000;
}
.header__row {
  border-bottom: 2px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}
@media (max-width: 767px) {
  .header__row {
    padding: 10px 0;
  }
}
.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__section .header__logo > img {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .header__section .header__logo > img {
    margin-right: 0;
  }
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .header-nav__list {
    display: none;
  }
}
.header-nav__link {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-one);
}
.header-nav__link:hover {
  color: #ff3f3a;
}

.button-header__consultation:hover {
  color: black;
}
@media (max-width: 1000px) {
  .button-header__consultation {
    display: none;
  }
}
.button-header__login:hover {
  color: #ff3f3a;
}
@media (max-width: 767px) {
  .button-header__login {
    display: none;
  }
}

.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
  }
  .header__burger .burger-header__border {
    width: 100%;
    height: 4px;
    background-color: black;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__burger :nth-child(1) {
    position: absolute;
    top: 0;
  }
  .header__burger :nth-child(2) {
    position: absolute;
    top: calc(50% - 2px);
  }
  .header__burger :nth-child(3) {
    position: absolute;
    bottom: 0;
  }
}
.header__burger:active :nth-child(1) {
  position: absolute;
  top: calc(50% - 4px);
  background-color: #ff3f3a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger:active :nth-child(2) {
  display: none;
}
.header__burger:active :nth-child(3) {
  position: absolute;
  top: calc(50% - 4px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #ff3f3a;
}
.header .active------------------- {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.header .active------------------- .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.header .active------------------- .header-nav__link {
  font-weight: 700;
  font-size: 25px;
  color: var(--color-one);
}

.journal__section-top {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 8px;
}
.journal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .journal__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.top-section__subtitle {
  font-weight: 700;
  font-size: 1em;
  color: #1e212c;
}
.top-section__title {
  font-weight: 900;
  font-size: 3em;
  color: #1e212c;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .top-section__title {
    font-size: 2em;
  }
}

.journal-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 1000px) {
  .journal-nav__list {
    gap: 15px;
  }
}
@media (max-width: 1000px) and (max-width: 767px) {
  .journal-nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.journal-nav__link {
  font-weight: 700;
  color: #9a9ca5;
  white-space: nowrap;
}
.journal-nav__link:hover {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  padding: 10px;
  margin: 0 -11px;
  border-radius: 7px;
}

.journal-form {
  gap: 15px;
  position: relative;
}
@media (max-width: 900px) {
  .journal-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .journal-form__search {
    width: 300px;
  }
}
@media (max-width: 900px) and (max-width: 767px) {
  .journal-form {
    margin-top: 40px;
    max-width: 320px;
  }
}
.journal-form__title {
  color: var(--color-one);
  font-weight: 700;
  white-space: nowrap;
}
.journal-form__select {
  background: #ffffff;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 160px;
  height: 44px;
}
.journal-form__search {
  background: #ffffff;
  color: #9a9ca5;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 285px;
          flex: 1 1 285px;
}
.journal-form__search > img {
  position: absolute;
  right: 5px;
  top: auto;
}
@media (max-width: 900px) {
  .journal-form__search {
    position: relative;
    max-width: 280px;
  }
}

.journal-menu {
  margin-top: 50px;
}
.journal-menu__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.journal-menu__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 15px);
          flex: 1 1 calc(33.333% - 15px);
  max-width: 400px;
  min-width: 300px;
}
.journal-menu__section-four {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(60% - 15px);
          flex: 1 1 calc(60% - 15px);
  min-width: 300px;
}
.journal-menu__section-five {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(40% - 15px);
          flex: 1 1 calc(40% - 15px);
  min-width: 300px;
}

.journal-menu-section__foto {
  position: relative;
}
.journal-menu-section__image {
  width: 100%;
  height: 300px;
}
.journal-menu-section__icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.journal-menu-section__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.journal-menu-section__title {
  font-weight: 700;
  font-size: 20px;
  color: #1e212c;
}
.journal-menu-section__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.journal-menu-section__go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.journal-menu-info__border {
  height: 20px;
  width: 2px;
  background-color: #9a9ca5;
}
.journal-menu-section-go__word {
  color: #1e212c;
  font-weight: 700;
}
.journal__breadcrumbs {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.breadcrumbs-journal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumbs-journal__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.breadcrumbs-journal__number > div {
  color: #1e212c;
  font-weight: 700;
  padding: 7px;
}
.jourmal__bottom {
  margin-top: 100px;
  background: #f4f5f7;
}
@media (max-width: 767px) {
  .jourmal__bottom {
    padding-bottom: 250px;
  }
}

.jourmal-bottom__wrapper {
  height: 454px;
}
.jourmal-bottom__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .jourmal-bottom__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    padding: 0 5px;
  }
}
.jourmal-bottom__image > img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1150px) {
  .jourmal-bottom__image > img {
    min-width: 500px;
  }
}
@media (max-width: 950px) {
  .jourmal-bottom__image > img {
    min-width: 300px;
  }
}
@media (max-width: 500px) {
  .jourmal-bottom__image > img {
    width: 100%;
    height: 100%;
  }
}
.jourmal-bottom__form {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.jourmal-bottom-form__title {
  font-weight: 900;
  font-size: 32px;
  color: #1e212c;
}
@media (max-width: 767px) {
  .jourmal-bottom-form__title {
    font-size: 25px;
  }
}
.jourmal-bottom-form__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media (max-width: 500px) {
  .jourmal-bottom-form__active {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.jourmal-bottom-form-active__email {
  height: 52px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  padding-left: 10px;
  border: 1px solid #ff3f3a;
  background-color: #ffffff;
  border-radius: 4px;
}
.footer-main__wrapper {
  padding-top: 80px;
  background: #1e212c;
  min-height: 340px;
}
.footer-main__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 930px) {
  .footer-main__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px;
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .footer-main__row {
    gap: 30px;
  }
}
.footer-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.footer-main__info-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-main__courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-main__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-main__form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer-main-body {
  max-width: 280px;
}
.footer-main-body__text {
  font-size: 15px;
}
.footer-main-info-map__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-main-info-map__link {
  color: var(--color-);
}

.footer-main-courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-main-courses__link {
  color: var(--color-);
}

.footer-main-form-email {
  max-width: 250px;
}
.footer-main-form-email__search {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  position: relative;
}
.footer-main-form-email__search > input {
  padding-right: 25px;
  height: 30px;
  background: rgba(255, 255, 255, 0.12);
  width: 249px;
}
.footer-main-form-email__search > img {
  position: absolute;
  top: calc(50% - 8px);
  right: 5px;
}
.footer-main-form-email__info {
  font-size: 10px;
}

.footer-section__wrapper {
  height: 58px;
  background: #383d52;
}
.footer-section__row {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer-section__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}