:root {
	--color-one: #424551;
}
.button-orange {
	font-weight: 700;
	color: #ffffff;
	background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 4px;
	padding: 10px 20px;
}
.button {
	font-weight: 700;
	color: var(--color-);
	background-color: #ffffff;
}
.title-footer {
	white-space: nowrap;
	font-weight: 700;
	color: #ffffff;
}
